.main{
  border-left: 2px solid #a4b0a4;
  border-right: 2px solid #a4b0a4;
  margin-top: 50vw;
  width:90%;
  max-width: 1200px;
}
.main div{
  background: linear-gradient(#c7d8c6,#a4b0a4,#c7d8c6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10.5rem;
}
.main div img{
  padding: 0;
  margin: 0;
  height: 10rem;
  background: white;
  color:blue;
}

@media only screen and (min-width: 620px){

.main {
  margin-top: 280px;
  width:80%;
}

}

@media only screen and (min-width: 1020px){
  .main {
    max-width: 1200px;
  }
}
