.main{
  border-left: 2px solid #a4b0a4;
  border-right: 2px solid #a4b0a4;
  margin-top: 2rem;
  max-width: 100vw;
}

.main div{
  background: linear-gradient(#c7d8c6,#a4b0a4,#c7d8c6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vw;
}

.main div img{
  padding: 0;
  margin: 0;
  background: white;
  margin-left: 2vw;
}

@media only screen and (min-width: 620px){

  .main {

    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1000px){
  .main {
  height:40rem;
  }
}
