.main {
  background-color: #a9b7c0;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h4 {
  text-shadow: #4e5e69 1px 0 10px;
  font-family: 'Josefin Slab';
  color: white;
  text-align: center;
  font-size: 5vw;
  margin: 1rem 0 .5rem 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav a {
  padding: 0 .5rem;
  margin: .5rem;
  font-size: 3vw;
  font-variant: small-caps;
  font-family: 'Josefin Slab';
  text-shadow: #4e5e69 1px 0 10px;
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: all .2s ease-in-out;
}

.nav a:hover {
  color: #474747;
  transform: scale(1.1);
  border-left: 1px solid #474747;
  border-right: 1px solid #474747;
}

.main address {
  text-align: center;
  margin:.5rem;
  padding: 0;
  font-family: 'Roboto';
  text-shadow: #4e5e69 1px 0 10px;
  font-size: 2vw;
  color: white;
}

@media only screen and (min-width: 620px){
  .main h4 {
    font-size: 3rem;
  }

  .nav a {
    font-size: 2rem;
  }
}
