.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 90%;
  background-color: #efd9c1;
}

.main h3 {
  color: #474747;
  text-align: center;
  display: block;
  font-size: 5vw;
  margin: 1rem .5rem 1rem .5rem;
  padding: .5rem;
  font-family: 'Roboto';
}

.main section p {
  color: #474747;
  text-align: justify;
  padding: .5rem;
  font-size: 4vw;
}

.nav{
  display: flex;
  flex-direction: column;
}

.nav a {
  margin: .5rem 1rem;
  height: 10rem;
  text-align: center;
  border: 1px solid grey;
}

.main div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
}

.main div a:hover {
  transform: scale(1.1);
}

.main div a div {
  background-color: rgba(0,0,0,.7);
  width: 100%;
  padding: 1rem 0;
  font-family: 'Josefin Slab';
  font-variant: small-caps;
  font-size: 10vw;
  color: white;
}

#pic1 {
  background-image: url("../public/images/4_shakes_e.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pic2 {
  background-image: url("../public/images/blue_tea_e.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pic3 {
  background-image: url("../public/images/snacks_2_e.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pic4 {
  background-image: url("../public/images/logo_e.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pic5 {
  margin: 1rem 1rem;
  height: 10rem;
  text-align: center;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../public/images/herbalife_e.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .2s ease-in-out;
}

#pic5:hover{
  transform: scale(1.1);
}

#pic5 div{
  background-color: rgba(0,0,0,.5);
  width: 100%;
  padding: 1rem 0;
  font-family: 'Josefin Slab';
  font-variant: small-caps;
  font-size: 10vw;
  color: white;
}

#shakeMenu {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #efd9c1;
}
#shakeMenu h1 {
  color: #474747;
  text-align: center;
  font-size: 2.5rem;
}

#shakeMenu h2 {
  color: #474747;
  text-align: center;
  font-size: 1.5rem;
}

#shakeMenu section {
  display: flex;
  flex-direction: column;
}

#shakeMenu section div{
  font-family: 'Josefin Slab';
  background-color: #a9b7c0;
  font-size: 1.2rem;
  color: #474747;
  font-variant: small-caps;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#shakeMenu p{
  text-shadow: #4e5e69 1px 0 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:30vw;
  margin: 1rem;
  text-align: center;
}

@media only screen and (min-width: 620px){
  .main {
    width:80%;
  }

  .main h3 {
    font-size: 1.75rem;
  }

  .main section p {
    margin: 2rem 1rem;
    font-size: 1.2rem;
  }

  .nav a {
    margin-top: 1.5rem;
    height: 15rem;
  }

  .main div a div {
    font-size: 3rem;
  }

  #pic5 {
    height: 15rem;
    margin-bottom: 2rem;
  }

  #pic5 div {
    font-size: 3rem;
  }

  #shakeMenu section div {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1020px){

  .main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main section p {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .nav {
    width: 90%;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
  }

  #shakeMenu {
    width: 80%;
    max-width: 1200px;
  }

  #pic5 {
    margin: 2rem auto;
    width:60%;
    height: 15rem;
  }
}
