.container {
  width:100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anchor{
  padding-top: 8.5rem;
  visibility: hidden;
}

#banner {
  border:2px solid black;
}

.announcements {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.announcements div {
  background-color: #59778f;
  color: white;
  text-align: center;
  width:100%;
  border: 1px solid grey;
  margin: .5rem;
}

.announcements div h4{
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}

.announcements div p{
  font-family: 'Roboto';
}

.main {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 90%;
  background-color: #efd9c1;
}

.main h3 {

  color: white;
  text-shadow: #7a6248 3px 0 10px;
  text-align: center;
  display: block;
  font-size: 5vw;
  margin: 1rem .5rem 1rem .5rem;
  padding: .5rem;
  font-family: "Josefin Slab";
}

.main address {
  font-size: 1.25rem;
  text-shadow: #354854 1px 0 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: bolder;
  color: white;
  background-color: #a9b7c0;
  text-align: center;
  padding: 1.5rem .5rem 1.5rem .5rem;
  width: 100%;
  margin:1.5rem 0;
}

.main address p {
  transition: all .2s ease-in-out;
}

.main address p:hover {
  color: #474747;
  transform: scale(1.1);
}

#socialMediaLinks {
  margin-top: 2rem;
  background-color: #a9b7c0;
  padding: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#socialMediaLinks h3{
  text-align: center;
  font-size: 1.5rem;
  font-variant: small-caps;
  color: white;
  text-shadow: #354854 1px 0 10px;
  margin-top: 0
}

#socialMediaLinks div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#socialMediaLinks div a {
  background-color: #59778f;
  border-radius: 25%;
  height: 12vw; width:12vw;
  box-shadow: 0px 0px 7px 3px #354854;
}

#facebook{
  background-image: url("../public/facebook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#instagram{
  background-image: url("../public/instagram.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#snapchat{
  background-image: url("../public/snapchat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main section p {
  color: #474747;
  text-align: left;
  padding: .5rem;
  font-size: 4vw;
}

.nav{
  display: flex;
  flex-direction: column;
}

.nav a {
  margin: .5rem 1rem;
  height: 10rem;
  text-align: center;
  border: 1px solid grey;
}

.main div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
}

.main div a:hover {
  transform: scale(1.1);
}

.main div a div {
  background-color: rgba(0,0,0,.7);
  width: 100%;
  padding: 1rem 0;
  font-family: 'Josefin Slab';
  font-variant: small-caps;
  font-size: 10vw;
  color: white;
}

#pic1 {
  background-image: url("../public/images/4_shakes_e.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pic2 {
  background-image: url("../public/images/blue_tea_e.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pic3 {
  background-image: url("../public/images/snacks_2_e.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pic4 {
  background-image: url("../public/images/logo_e.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pic5 {
  margin: 1rem 1rem;
  height: 10rem;
  text-align: center;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../public/images/herbalife_e.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .2s ease-in-out;
}

#pic5:hover{
  transform: scale(1.1);
}

#pic5 div{
  background-color: rgba(0,0,0,.5);
  width: 100%;
  padding: 1rem 0;
  font-family: 'Josefin Slab';
  font-variant: small-caps;
  font-size: 10vw;
  color: white;
}

#shakeMenu {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #efd9c1;
}
#shakeMenu h1 {
  color: #474747;
  text-align: center;
  font-size: 2.5rem;
}

#menuLinkHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#menuLinkHolder a {
  text-align: center;
  background-color: #ebeef0;
  width:10rem;
  padding: 1rem;
  margin: 1.5rem;
  box-shadow: 0px 0px 7px 3px white;
}

#menuLinkHolder a:hover{
  text-shadow: #354854 1px 0 10px;
  color:white;
  background-color: #a9b7c0;
}

#shakeMenu h1{
  display: block;
  width: 100%;
  margin-bottom: 0;
}

#shakeMenu h2 {
  color: #474747;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1.5rem;
}

#shakeMenu section {
  background-color: #d1dde6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shakeMenu section div{
  font-family: 'Josefin Slab';
  font-size: 1.2rem;
  color: #474747;
  font-variant: small-caps;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#shakeMenu p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:11rem;
  font-size: 1.5rem;
  margin: .5rem;
  text-align: center;
}

#shakeInfo{
  padding-left: 0;
  margin: 0;
  flex-direction: column;
}

#shakeInfo ul {
  text-align: center;
  padding-inline-start: 0;
  padding: .5rem;
  background-color:  #ebeef0;
  align-self: flex-start;
  font-size: 1.75vw;
  margin: .75rem;
  font-variant: normal;
  font-family: 'Roboto';
  list-style: none;
}

#shakeMenu ul lh {
  font-family: 'Josefin Slab';
  font-size: 5.5vw;
  text-decoration: underline;
}

#shakeMenu ul li {
  margin: .25rem 0 .25rem 0;
  font-size: 4.5vw;
}

.detail{
  display: block;
  margin-top: 0;
  font-family: 'Roboto';
  font-size: 1rem;
  text-decoration: none;
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem;
}
.health {
  width: 90%;
  background-color: #efd9c1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.health section {
  margin: 1rem auto;
  padding: 1rem;
  width: 90%;
  background-color:#d1dde6;
}

.combo_holder {
  margin: 2rem auto;
  padding: 0 3rem;
}

.combo {
  margin-bottom: 0;
  padding-bottom: 0;
}

.combo_desc {
  font-family: 'Roboto';
  font-variant: normal;
  font-size: 1.25rem;
  font-style: italic;
}

@media only screen and (min-width: 620px){
  .main {
    width:80%;
  }

  .anchor {
    padding-top: 15rem;
  }

  .announcements{
    width:80%;
  }

  #socialMediaLinks{
    width:80%;
  }

  .main h3 {
    font-size: 1.75rem;
  }

  .main section p {
    margin: 2rem 1rem;
    font-size: 1.2rem;
  }

  .nav a {
    margin-top: 1.5rem;
    height: 15rem;
  }

  .main div a div {
    font-size: 3rem;
  }

  #pic5 {
    height: 15rem;
    margin-bottom: 2rem;
  }

  #pic5 div {
    font-size: 3rem;
  }

  #shakeMenu section div {
    font-size: 1.7rem;
  }

  #shakeMenu p {
    margin:1rem .5rem;
    width: 15rem;
  }

  #shakeMenu ul lh {
    font-size: 1.5rem;
  }

  #shakeMenu ul li {
    font-size: 1rem;
  }

  #shakeInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #shakeInfo ul {
    width:30%;
    align-self: stretch;
  }
}

@media only screen and (min-width:700px){

}

@media only screen and (min-width: 1020px){

  .main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .announcements {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #socialMediaLinks div a {
    height:7rem; width: 7rem;
  }

  .announcements div{
    width: 49%;
    margin: 0;
  }

  .main section p {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .nav {
    width: 90%;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
  }

  #shakeMenu {
    width: 80%;
    max-width: 1200px;
  }

  #shakeMenu p {
    width: 30rem;
  }

  #pic5 {
    margin: 2rem auto;
    width:60%;
    height: 15rem;
  }
}
